<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busanit.mapper.MemMapper">
    <select id="selectList" resultType="com.busanit.model.Mem">
        SELECT * FROM mem ORDER BY num
    </select>
    <insert id="insert">
        INSERT INTO mem(name, pwd, addr)
        VALUES(#{name}, #{pwd},#{addr})
    </insert>
<!--    <update id=""></update>-->
<!--    <delete id=""></delete>-->
</mapper>